/* outfit-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/outfit-v11-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/outfit-v11-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/outfit-v11-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* outfit-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Outfit";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/outfit-v11-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: hsl(212, 45%, 89%);
}

.qr-card {
  max-width: 20rem;
  padding: 0.833rem 0.833rem 1.728rem 0.833rem;
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  text-align: center;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  animation: flyInFromLeft 1s;
}

.qr-card-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}

.qr-card-image {
  display: block;
  width: 100%;
  transition: transform 0.3s;
}

.qr-card-image-container:hover .qr-card-image {
  transform: scale(1.05);
}

.qr-card-title {
  margin-top: 1.728rem;
  line-height: 1.2;
  color: hsl(217, 45%, 22%);
}

.qr-card-description {
  margin-top: 1.2rem;
  line-height: 1.5;
  color: #524c63;
}

@keyframes flyInFromLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, -100px) translateY(-10rem);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) translateY(0);
  }
}

@media (max-width: 860px) {
  .qr-card {
    animation: none;
  }
}
